.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container-inner {
    display: flex;
    margin-top: 20px;
    position: relative;
    background-image: linear-gradient(rgb(110, 228, 145), rgb(0, 0, 0));
    padding: 30px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px black;
}

.login-form input {
    color: green;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 8px 8px 8px black;
    padding: 10px;
    border: solid 1px blue;
}

.password-container {
    margin-top: 12px;
}

.submit-btn {
    margin-top: 12px;
}

.notice-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice-box-inner {
    width: fit-content;
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.notice-box-inner h3 {
    color: red;
}
